.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  width: 30rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 10px 14px 14px rgba(0, 0, 0, 0.41);
}

.bottom {
  display: flex;
  flex-wrap: wrap;
}

.top {
  background-color: darkgray;
}

.action {
  width: 25%;
  height: 120px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1.5em;
  color: #333;
}

.action-17 {
  width: 50%;
}

.nav {
  margin: 0 5px;
}

.nav__button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 10px 5px;
  padding: 0;
  border: none;
}

.nav__button--red {
  background-color: red;
}
.nav__button--yellow {
  background-color: yellow;
}
.nav__button--green {
  background-color: green;
}

.field, .field input {
  width: 100%;
}

.field input {
  border: 0;
  padding:  1.5rem;
  margin: 0;
  background-color: transparent;
  font-size: 3.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: right;
  color: white;
}

.field input[type=number]::-webkit-inner-spin-button, 
.field input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.action--orange {
  background-color: orange;
  color: white;
}